.s_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

.image {
    margin-right: 10px;
    width: 120px;
    align-self: flex-start;
}

.anime_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.episodes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-flow: wrap;
}

.title_cn {
    font-size: 1.2rem;
    font-weight: bold;
}

.episode {
    margin: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d8eee4;
}

.episode:hover {
    cursor: pointer;
}

.not_aired {
    border: none;
    color: gray;
}

.watched {
    background-color: #d8eee4;
}

.name_jp {
    font-size: 0.6rem;
}

.title_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.anime_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}